
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 200px;
    width: 550px;
    background-color: #e9f5fc;
    border: 1px solid #000;
    border-radius: 3rem;
}

#pokemonSprite{
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    margin: 10px;
    display: none;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 3px 6px 1px rgba(42, 87, 69, 0.2);

}

#pokemonSprite:hover{
    box-shadow: none;
}

#pokemonName{
    font-size: 1.5rem;
    font-weight: bold;
    color: #383535;
    padding: 1rem;
    position: relative;
    margin: 1rem;
}

button{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #2a5745;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 3px 6px 1px rgba(42, 87, 69, 0.2);
}