body{
    background-color: darkblue;
}
#text{
    background-color: black;
    color: white;
    padding: 10px;
}
#game{
    max-width: 500px;
    max-height: 400px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 10px;
    color: white;
}
#controls{
    border: 1px solid rgb(64, 58, 58);
    padding: 5px;
}
#stats{
    border: 1px solid rgb(60, 54, 54);
    padding: 5px;
    color: rgb(57, 50, 50);
}
#monsterStats{
    display: none;
    border: 1px solid black;
    padding: 5px;
    color: white;
    background-color: rgb(205, 12, 12);
}
.stat{
    padding-right: 10px;
}